@using Microsoft.AspNetCore.Identity
@using test.Models.AdminSystem

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav ml-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (User.IsInRole("Admin")||User.IsInRole("ContentCreator")||User.IsInRole("SubtitleCreator"))
        {
            <li class="nav-item dropdown creator-dropdown">
                <a class="nav-link" href="#" id="creatorDropdown">Creator</a>
                <div class="dropdown-menu creator-menu">
                    <a class="dropdown-item" asp-area="" asp-controller="Anime" asp-action="Create">Add New Anime</a>
                    <a class="dropdown-item" asp-area="" asp-route-id="@(UserManager.GetUserId(User))" asp-controller="Anime" asp-action="Index">My Anime</a>

                </div>
            </li>
        }

        <li class="nav-item dropdown user-dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <img src="/images/default-avatar.png" alt="User" class="rounded-circle" width="32" height="32">
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <!--<span class="dropdown-item-text">Hello @UserManager.GetUserName(User)!</span>-->
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Settings</a>

                <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="dropdown-item">Logout</button>
                </form>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>