
.anime-component {
    height: 33.33%; /* 1/3 stránky */
    margin-bottom: 20px;
}

.anime-scroll-container {
    display: flex;
    overflow-x: auto;
    padding-bottom: 10px;
}

.anime-item {
    flex: 0 0 auto;
    margin-right: 10px;
}

.rounded-image {
    border-radius: 10px; /* zakulacené rohy */
    max-width: 100px; /* nebo jiná vhodná velikost */
    height: auto;
}

/* Skrytí scrollbaru pro WebKit prohlížeče */
.anime-scroll-container::-webkit-scrollbar {
    display: none;
}

/* Skrytí scrollbaru pro IE, Edge a Firefox */
.anime-scroll-container {
    -ms-overflow-style: none; /* IE a Edge */
    scrollbar-width: none; /* Firefox */
}
