.anime-component {
    margin-bottom: 20px;
}

.anime-scroll-container {
    display: flex;
    overflow-x: auto;
    padding-bottom: 10px;
    transition: all 0.3s ease;
}

.anime-item {
    flex: 0 0 auto;
    margin-right: 10px;
    margin-bottom: 10px;
}

.rounded-image {
    border-radius: 10px;
    width: 100px;
    height: 150px;
    object-fit: cover;
}

.anime-scroll-container::-webkit-scrollbar {
    display: none;
}

.anime-scroll-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Vertikální rozložení */
.vertical-layout .anime-scroll-container {
    flex-wrap: wrap;
    overflow-x: hidden;
    justify-content: flex-start;
}

.vertical-layout .anime-item {
    margin-right: 10px;
    margin-bottom: 10px;
}

.toggle-layout {
    margin-bottom: 10px;
}
